@import "tailwindcss";

:root {
  --page-background: linear-gradient(to right, #f3f4f7, #e7f0fd);
  --text-color: #2c3e50;
}

body.dark-mode {
  --page-background: #1e1e1e;
  --text-color: #f0f0f0;
}


body {
  background: var(--page-background);
  color: var(--text-color);
  font-family: 'Inter', sans-serif;
}




body.dark-mode * {
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode .ant-card,
body.dark-mode .ant-alert,
body.dark-mode textarea,
body.dark-mode input,
body.dark-mode .ant-input,
body.dark-mode .ant-btn,
body.dark-mode .ant-typography,
body.dark-mode .ant-typography h5,
body.dark-mode .ant-typography h3 {
  background-color: #2a2a2a !important;
  color: #f0f0f0 !important;
  border-color: #444 !important;
}

body.dark-mode .ant-btn:hover {
  background-color: #3a3a3a !important;
}

body.dark-mode .ant-tooltip-inner {
  background-color: #444 !important;
  color: #fff !important;
}

body.dark-mode .ant-switch {
  background: #555 !important;
}
